@media ( max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-layouts
      

@media  ( max-width: 992px)
  .container
    max-width: 640px
  .header
    height: 464px
    &-layouts
      margin-bottom: 37px
  .logo
    &-desktop
      display: none
    &-mobile
      display: flex
      margin: auto        
  .navbar
    &-authorization
      &__get
        display: none
    &-menu
      &__item
        margin-right: 34px
        &:last-child
          margin-right: 31px
        &:first-child
          margin-left: 0px
  .banner
    flex-wrap: wrap
    max-width: 640px
    margin-top: -186px
    background-color: transparent
    &-one
      display: flex
      max-height: 186px
      flex-wrap: wrap
      justify-content: space-between
      &__title
        flex-wrap: nowrap
        padding-bottom: 24px
        margin-top: 8px
        margin-left: -5px
      &__text
        flex-wrap: wrap
        margin-top: 36px
        padding-bottom: 0
        margin-right: 12px
      &__commentary
        flex-wrap: nowrap
        padding-bottom: 30px
        margin-top: -3px
        margin-left: -3px
    &-two
      &__price
        padding-top: 31px
        padding-bottom: 25px
      &__hair
        padding-bottom: 26px 
      &__like
        padding-bottom: 25px
      &__time
        padding-top: 31px
        padding-bottom: 22px
        &--figure
          padding-bottom: 14px          


                  
@media  ( max-width: 768px)
  .container
    max-width: 280px
  .navbar   
    &-authorization
      display: none
    &-menu
      display: none
  .header
    background-image: none
    height: 0
    &-layouts
      margin-bottom: 0
  .logo
    display: none   
  .mobile
    display: flex
    background-color: #242424
    &-logo
      display: flex
      margin: auto
      padding: 26px 0px 23px
      cursor: pointer
      &__svg
        min-width: 226px

  .appointment
    display: flex
    background-color: #826550
    position: relative
    &-appoint
      display: flex
      align-items: center
      &__title
        padding-top: 9px
        padding-bottom: 13px
        &--link
          color: $white
          font-style: normal
          font-weight: bold
          font-size: 18px
          line-height: 24px
          text-decoration: none
          text-transform: uppercase
  .burger
    right: 0
    top: 0
    position: absolute
    display: flex
    height: 50px
    width: 70px
    align-items: center
    flex-direction: column
    border: none
    background-color: #6A4D38
    cursor: pointer
    &__line
      margin-bottom: 7px  
      width: 36px
      height: 2px
      background-color: #FFFFFF
      &:first-child
        margin-top: 16px
  .banner
    margin-top: 132px
    left: 0
    display: block
    flex-wrap: nowrap
    min-width: 100%
    &-one
      display: flex
      max-height: none
      flex-direction: column
      align-items: center
      text-align: center
      &__title
        font-style: normal
        font-weight: bold
        font-size: 30px
        line-height: 30px
        text-transform: uppercase
        margin-left: 33px
        margin-top: 0
      &__text
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 27px 
        margin-right: 0
        margin-left: 36px
        margin-top: -8px
        max-width: 240px
        margin-bottom: 27px 
      &__commentary
        display: none
    &-two
      display: flex
      flex-direction: column
      &__price
        display: flex
        align-items: center
        justify-content: space-evenly
        padding-bottom: 23px
        padding-top: 18px
        padding-left: 0
        padding-right: 0
        &--figure
          align-items: center
          font-style: normal
          font-weight: bold
          font-size: 40px
          line-height: 40px
          padding-bottom: 0
          padding-left: 0px        
        &--text
          text-align: right
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 18px
          max-width: 110px 
      &__hair
        display: flex
        align-items: center
        justify-content: space-evenly
        padding-bottom: 22px
        padding-top: 18px
        padding-left: 0
        padding-right: 0
        &--figure
          align-items: center
          font-style: normal
          font-weight: bold
          font-size: 40px
          line-height: 40px
          padding-bottom: 0
          padding-left: 0px        
        &--fact
          text-align: right
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 18px
          max-width: 110px
      &__time
        display: flex
        align-items: center
        justify-content: space-evenly
        padding-bottom: 22px
        padding-top: 18px
        padding-left: 0
        padding-right: 0
        &--figure
          align-items: center
          font-style: normal
          font-weight: bold
          font-size: 40px
          line-height: 40px
          padding-bottom: 0
          padding-left: 0px        
        &--text
          text-align: right
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 18px
          max-width: 110px
      &__like
        display: flex
        align-items: center
        justify-content: space-evenly
        padding-bottom: 23px
        padding-top: 18px
        padding-left: 0
        padding-right: 0
        &--figure
          align-items: center
          font-style: normal
          font-weight: bold
          font-size: 40px
          line-height: 40px
          padding-bottom: 0
          padding-left: 0px       
        &--text
          text-align: right
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 18px
          max-width: 110px      
                       

    

        
          
          
               
      

  

