@media ( max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &__layouts
      

@media  ( max-width: 992px)
  .container
    max-width: 640px
  .header
    &__logo
      padding: 37px 0 257px
    &__logo-desktop
      display: none
    &__logo-tablet
      display: flex
      margin: auto        
  .navbar
    &__authorization
    &__icon
      margin-right: 13px  
    &__get
      display: none
    &__menu
      padding: 24px 0px 24px 0px
    &__item
      margin-right: 34px
  .advantages 
    &__blocks
      flex-wrap: wrap
      max-width: 640px
      background-color: transparent
      transform: translateY(-36.8%)
    &__triangle
      top: 42px
    &__left
      padding-left: 33px
      padding-top: 31px
      display: flex
      min-height: 185px
      flex-wrap: wrap
      justify-content: space-between
    &__title
      margin-bottom: 0
      flex-wrap: nowrap
    &__text
      margin-top: 4px
      margin-right: 84px
    &__commentary
      margin-top: -36px
      flex-wrap: nowrap
    &__right
    &__price
      padding-top: 31px
      padding-bottom: 24px
    &__price-text
      margin-bottom: 13px  
    &__hair
      padding: 32px 0px 25px 33px
    &__hair-text
      margin-bottom: 15px  
    &__like
      padding: 27px 0px 25px 33px
    &__time
      padding-top: 31px
      padding-bottom: 24px
    &__time-text
      margin-bottom: 13px
  .vantage
    padding: 0px 0 0px
    max-width: 640px
    display: flex
    flex-wrap: wrap
    margin-bottom: -8px
    margin-top: -143px
    &__fast
      display: flex
      margin: 0 0 84px 30px
      padding: 0
      border: none
      flex-wrap: wrap
      align-items: start
    &__fast-text
      text-align: left
    &__fast-icon
      margin: 0 34px 0 0
    &__fast-title
      margin: 0 0 13px 0
    &__fast-subtitle
      max-width: 470px
      margin: 0
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 27px    
    &__steeply
      flex-wrap: wrap
      align-items: center
      display: flex
      align-items: start
      margin: 0 0 77px 30px
    &__steeply-icon
      margin: 0 34px 0 0
    &__steeply-text
      text-align: left    
    &__steeply-title
      margin: 0 0 10px 0
    &__steeply-subtitle
      margin: 0
      max-width: 470px
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 27px    
    &__dear
      flex-wrap: wrap
      align-items: center
      display: flex
      align-items: start
      margin: 0 0 50px 30px
      padding: 0
      border: none
    &__dear-icon
      margin: 0 34px 0 0
    &__dear-text
      text-align: left  
    &__dear-title
      margin: 0 0 10px 0
    &__dear-subtitle
      max-width: 470px
      margin: 0
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 27px
  .triangle
    &__left
      border-bottom: 51px solid #F8F5F2
    &__right
      border-bottom: 51px solid #F8F5F2 
  .news
    padding-top: 41px
    &__item
      margin-right: 43px
      &:last-child
        display: none
      &:nth-last-child(2)
        margin-right: 0
    &__layots
      padding-left: 0
    &__title-name
      
    &__button
      margin-right: 1px
  .reviews
    padding-top: 33px
    padding-bottom: 7px   
    &__layots
      padding-left: 0
    &__title-name
      margin-left: 0
  .reviews-slide
    &__block
      display: flex
      align-items: center
      margin-bottom: 26px
      border: 1px solid #E5DDD5
      padding: 42px 0 32px 0     
    &__image 
      height: 80px
      width: 80px
      border-radius: 100px
      margin-left: 79px
      margin-top: 0
    &__button
      padding-top: 80px
      transform: translateY(-44.4%)
    &__text
      border: none
      padding: 0
      margin-top: -42px
      margin-left: 30px
    &__title
      margin-bottom: 14px
    &__subtitle  
      max-width: 400px
    &__pagination
      transform: translateY(-250%)
  .swiper-pagination
    &:after
      position: absolute
      content: ''
      left: 256px
      bottom: 0
      padding: 12px 63px 2px 65px
      background-color: #F8F5F2
      z-index: -1
  .footer
    &__block
      flex-wrap: wrap
      min-width: 640px
    &__button
      margin-bottom: 55px  
    &__social
      order: 3
      margin-right: 0
      margin: auto
      display: flex
    &__be-friends
      display: none  
    &__contacts
      margin-right: 15px     
      margin-bottom: 45px
    &__icon
      &-fb
        padding: 30px 19px 29px 26px
        width: 214px
        height: 101px
      &-inst
        padding: 32px 15px 31px 22px
        width: 213px    
        height: 101px
      &-vk
        padding: 37px 17px 36px 24px
        width: 213px    
        height: 101px  

@media  ( max-width: 768px)
  .container
    max-width: 280px 
  .navbar
    display: none     
  .header
    &__background
      display: none       
    &-mobile
      display: flex
      flex-direction: column
      background-color: #242424
      &__logo
        display: flex
        margin: auto
        padding: 26px 0px 21px
      &__image
        min-width: 226px  
      &__appointment
        display: flex
        background-color: #826550
        position: relative
      &__title
        padding-top: 9px
        padding-bottom: 13px
      &__link
        color: $white
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 24px
        text-decoration: none
        text-transform: uppercase
      &__burger
        right: 0
        top: 0
        position: absolute
        display: flex
        height: 50px
        width: 70px
        align-items: center
        flex-direction: column
        border: none
        background-color: #6A4D38
        cursor: pointer
      &__line
        margin-bottom: 7px  
        width: 36px
        height: 2px
        background-color: #FFFFFF
        &:first-child
          margin-top: 16px 

  .advantages
    &__blocks
      display: block
      flex-wrap: nowrap
      min-width: 100%
      transform: translateY(0%)
      padding: 0
    &__triangle
      display: none  
    &__left
      min-width: 0
      min-height: 183px
      padding: 26px 0px 27px 0px
      margin: 0
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 30px
      text-transform: uppercase
    &__text
      margin-bottom: 0
      margin-right: 0
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 27px 
      max-width: 240px
    &__commentary
      display: none
      margin: auto
      &--mobile
        display: flex
        margin-bottom: -7px
    &__right
      display: flex
      flex-direction: column
    &__price
      width: 100%
      display: flex
      align-items: self-end
      justify-content: space-evenly
      padding: 20px 0 20px 0
    &__price-text
      margin-bottom: 0
      margin-right: 10px
      align-items: center
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 40px     
    &__price-subtext
      margin: 0
      text-align: right
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 18px
      max-width: 110px 
    &__hair
      width: 100%
      display: flex
      align-items: self-end
      justify-content: space-evenly
      padding-bottom: 20px
      padding-top: 20px
      padding-left: 0
      padding-right: 0
    &__hair-text
      margin: 0
      align-items: center
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 40px      
    &__hair-subtext
      margin: 0
      text-align: right
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 18px
      max-width: 110px
    &__time
      width: 100%
      display: flex
      align-items: self-end
      justify-content: space-evenly
      padding-bottom: 20px
      padding-top: 20px
      padding-left: 0
      padding-right: 0
    &__time-text
      margin: 0
      align-items: center
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 40px       
    &__time-subtext
      margin-left: 27px
      text-align: right
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 18px
      max-width: 110px
    &__like
      width: 100%
      display: flex
      align-items: self-end
      justify-content: space-evenly
      padding-bottom: 20px
      padding-top: 20px
      padding-left: 0
      padding-right: 0
      margin-bottom: 17px
    &__like-text
      margin: 0
      align-items: center
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 40px
      margin-right: -45px       
    &__like-subtext
      margin: 0
      text-align: right
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 18px
      max-width: 110px
  .vantage
    margin: 0
    max-width: 280px
    display: none
    flex-wrap: wrap
    &--visible
      display: flex
      margin: 0 
    &__fast
      margin: 0 0 0 0
      flex-direction: column
      align-items: center
    &__fast-icon
      margin: 0 0 0 0
    &__fast-text
      text-align: center
    &__steeply
      margin: 0 0 0 0
      flex-direction: column
      align-items: center
    &__steeply-icon
      margin: 0 0 0 0
    &__steeply-text
      text-align: center
    &__dear
      margin: 0 0 0 0
      flex-direction: column
      align-items: center
    &__dear-icon
      margin: 0 0 0 0
    &__dear-text
      text-align: center
  .swiper-pagination
    &:after
      display: none
  .swiper
    max-width: 280px
    margin-bottom: 0px
    margin-top: 126px
    &--visible
      display: flex
  .swiper-slide
    text-align: center
    align-items: center
    &__text
      text-align: center
    &__icon
      margin-bottom: 27px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 30px
      color: $white
      margin-bottom: 13px
    &__subtitle
      margin: auto
      display: flex
      max-width: 240px
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 27px
      color: $white
      margin-bottom: 45px
  .triangle
    margin-top: -27px
    &__left
      border-bottom: 66px solid #F8F5F2
    &__right          
      border-bottom: 66px solid #F8F5F2
  .news
    padding-top: 33px
    &__block
      display: flex
      flex-direction: column
    &__item
      margin-right: 0
      margin-bottom: 44px
      &:nth-last-child(2)
        margin-bottom: 51px
    &__button
      display: none
      &-visible
        display: flex
        margin: auto
        padding: 13px 89px 13px 89px
    &__title-name
      margin: auto
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 30px
    &__layots
      display: flex
      margin-bottom: 39px
  .reviews-slide__button
    &--mobile
      display: none
  .reviews-swiper
    margin: 0    
  .reviews
    padding-top: 25px
    &__hr
      margin-bottom: 27px
    &__layots
      display: flex
    &__button
      display: none
    &__title-name
      margin: auto
      font-size: 30px
      line-height: 30px     
  .reviews-slide
    &__title
      margin-bottom: 6px
    &__subtitle
      max-width: 190px
    &__block
      display: flex
      align-items: center
      border: none
      padding: 0
    &__image
      height: 50px
      width: 50px
      border-radius: 0
      margin-right: 20px
      margin-left: 0
      margin-bottom: 102px
    &__text
      text-align: left
      margin-left: 0
      margin-bottom: 19px
    &__pagination
      transform: translateY(-200%)
  .footer
    padding-top: 32px
    &__block
      flex-wrap: wrap
      max-width: 280px
      min-width: 0
      justify-content: center
    &__contacts
      text-align: center
      margin-right: 0
    &__title
      text-transform: none
    &__address
      margin-bottom: 17px
    &__phone
      display: flex
      padding: 12px 70px 12px 75px
      border: 1px solid #4A4A4A 
    &__phone-text
      display: none
    &__phone-link
      text-align: center
      white-space: nowrap 
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 27px
    &__social
      order: 0
      margin-bottom: 28px  
    &__copywriter
    &__button
      margin-bottom: 0  
