@media ( max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-layouts
      

@media  ( max-width: 992px)
  .container
    max-width: 640px
  .header
    min-height: 464px
    &-layouts
      margin-bottom: 37px
  .logo
    &-desktop
      display: none
    &-mobile
      display: flex
      margin: auto        
  .navbar
    &-authorization
      &__get
        display: none
    &-menu
      &__item
        margin-right: 34px
        &:last-child
          margin-right: 31px
        &:first-child
          margin-left: 0px
  .banner
    flex-wrap: wrap
    max-width: 640px
    margin-top: -186px
    background-color: transparent
    &-one
      display: flex
      max-height: 186px
      flex-wrap: wrap
      
      justify-content: space-between
      &__title
        flex-wrap: nowrap
        padding-bottom: 24px
        margin-top: 8px
        margin-left: -5px
      &__text
        flex-wrap: wrap
        margin-top: 36px
        padding-bottom: 0
        margin-right: 12px
      &__commentary
        flex-wrap: nowrap
        padding-bottom: 30px
        margin-top: -3px
        margin-left: -3px
    &-two
      &__price
        padding-top: 31px
        padding-bottom: 25px
      &__hair
        padding-bottom: 26px  
    &-three
      &__like
        padding-bottom: 25px
      &__time
        padding-top: 31px
        padding-bottom: 23px
        &--figure
          padding-bottom: 14px          


                  
@media  ( max-width: 768px)
  .container
    max-width: 280px
  .navbar   
    &-authorization
      display: none
    &-menu
      display: none
  .header
    background-image: none
  .logo
    display: none   
  .mobile
    display: flex
    background-color: #242424
    &-logo
      display: flex
      margin: auto
      padding: 26px 47px 29px
      &__svg

  .appointment
    display: flex
    background-color: #826550
    min-height: 50px
    position: relative
    &-appoint
      display: flex
      align-items: center
      &__title
        &--link
          padding-top: 13px
          padding-bottom: 13px
          color: $white
          font-style: normal
          font-weight: bold
          font-size: 18px
          line-height: 24px
          text-decoration: none
          text-transform: uppercase
  .burger
    right: 0
    top: 0
    position: absolute
    display: flex
    height: 50px
    width: 70px
    align-items: center
    justify-content: space-evenly
    flex-direction: column
    border: none
    background-color: #6A4D38
    cursor: pointer
    &__line
      width: 36px
      height: 2px
      background-color: #FFFFFF
    

        
          
          
               
      

  

