.footer
  background-color: #292929
  display: flex
  padding: 51px 12px 55px 0
  align-items: center
  &__block
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 960px
  &__social
    margin-right: 150px
  &__be-friends
    margin-bottom: 13px
    text-align: center
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 23px
    color: $white
  &__icon
    &-vk
      padding: 16px 17px 17px 18px
      border: 1px solid #4A4A4A
    &-fb
      padding: 15px 20px 14px 20px
      border: 1px solid #4A4A4A
    &-inst
      padding: 15px 15px 16px 16px
      border: 1px solid #4A4A4A    
  &__copywriter
  &__author
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 23px
    color: $white
    text-align: center
    margin-bottom: 13px
  &__button
    color: $white
    padding: 14px 55px 13px 55px
    border: 1px solid #4A4A4A
    background-color: #292929
    margin-bottom: 12px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: $white
    margin-bottom: 25px
    text-transform: uppercase
  &__address
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 23px
    color: $white
  &__phone
    &-text
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 23px
      color: $white
    &-link
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 23px
      color: $white
      text-decoration: none    