.header
  background-image: url(../img/back-desktop.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 720px
  &__menu
    display: flex
    align-items: baseline
    justify-content: space-between
    margin-bottom: 129px
.navbar
  background-color: $black 
  &-menu
    display: flex
    align-items: center
    padding: 21px 0 24px    
    &__item
      list-style-type: none
      margin-right: 21px
      &:last-child
        margin-right: 112px
    &__link
      color: $white
      font-style: normal
      font-weight: bold 
      font-size: 18px
      line-height: 24px
      text-decoration: none
      text-transform: uppercase
  &-authorization
    &__get
      color: $white
      font-style: normal
      font-weight: bold 
      font-size: 18px
      line-height: 24px
      text-decoration: none
      text-transform: uppercase
    &__icon
      margin-right: 19px
      margin-bottom: -1px  
.logo
  display: flex
  margin: auto
  