.header
  background-image: url(../img/back-desktop.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 720px
  &-layouts
    display: flex
    align-items: baseline
    margin-bottom: 57px
.navbar
  background-color: $black 
  &-menu
    display: flex
    align-items: center
    padding: 21px 0 24px
    &__item
      list-style-type: none
      margin-right: 65px
      &:last-child
        margin-right: 145px
      &:first-child
        margin-left: 33px  
    &__link
      color: $white
      font-style: normal
      font-weight: bold 
      font-size: 18px
      line-height: 24px
      text-decoration: none
      text-transform: uppercase
      border-bottom: 1px solid transparent
      padding-bottom: 24px
      &:hover
        transition: border-bottom 0.5s 
        border-bottom: 1px solid #826550    

  &-authorization
    &__get
      color: $white
      font-style: normal
      font-weight: bold 
      font-size: 18px
      line-height: 24px
      text-decoration: none
      text-transform: uppercase
      border-bottom: 1px solid transparent
      padding-bottom: 24px
      &:hover
        transition: border-bottom 0.5s 
        border-bottom: 1px solid #826550
        
    &__icon
      margin-right: 19px
      margin-bottom: -1px  
.logo
  display: flex
  margin: auto
  &-mobile
    display: none
  &-desktop
    display: flex
    margin: auto  
.mobile
  display: none  
.appointment
  display: none  